{% extends 'layout.html' %}{% block content %}


  {% for content in contents %}
  <li>
    <h3 class="blogtitle"><a href="/view/?contentId={{content._id.toString()}}">{{content.title}}</a></h3>
    <div class="bloginfo">
      <p>{{content.description}}</p>
    </div>
    <div class="autor">
      <p>
      <span class="author">{{content.user.username}}</span>
      <span class="lm"><a href="/?category={{content.category._id.toString()}}" title="CSS3|Html5" target="_blank" class="classname">{{content.category.name}}</a></span>
      <span class="dtime">{{content.addTime|date('d-M,Y',-1*60-15)}}</span>
      <span class="viewnum">Visitors:<a href="/">{{content.views}}</a></span>
      <span class="readmore"><a href="/view/?contentId={{content._id.toSting()}}">ReadMore</a></span></div>
      </p>
    </li>
  {% endfor %}
 
  <nav id="pagelist" aria-label="pages">
      <ul id="pager">
        {% if page>1 %}
        <li id="previous"><a href="/?page={{page-1}}">&nbsp;&larr; Prev&nbsp;</a></li>
        {% else %}
        <li id="previous">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        {% endif %}
        <li>&nbsp;Articles:{{count}}&nbsp;|&nbsp; Pages:{{page}}/{{pages}}&nbsp;</li>
        {% if page>=pages %}
        <li id="next">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        {% else %}
        <li id="next"><a href="/?page={{page+1}}">&nbsp;Next &rarr;&nbsp;</a></li>
        {% endif%}
      </ul>
  </nav>


{% endblock %} 
