<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>blog</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/base.css" rel="stylesheet">
<link href="../../public/css/index.css" rel="stylesheet">
<link href="../../public/css/m.css" rel="stylesheet">
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div class="tophead">
    <nav class="menu" id="topnav">
      {% if category %}
      <ul>
          <li><a href="/" class="focus">HOME</a><li>
      {% else %}
      <ul>
             <li><a href="/">HOME</a><li>
      {% endif %}
        {% if userInfo._id %}
            {% if userInfo.isAdmin %}
              <li><a href="/admin/content">MANAGE</a></li>
            {%else%}
            {%endif%}
              <li><a href="javascript:;" id="logout">LOGOUT</a></li>
        {% else %}
              <li><a href="/login">Login</a></li>
        {%endif%}
      </ul>
    </nav>
  </div>
</header>
<div class="picshow"></div>

<article>
  <div class="blogs">
      {% block content %}{% endblock %}
  </div>

  <div class="sidebar">
      {% if userInfo._id %}
      <div class="aboutme" id="userInfo">
          &nbsp;&nbsp;Hello,&nbsp;{{userInfo.username}}
      </div>
      {% else %}
       <div  class="aboutme" id="loginBox" >
        <div class="line"><input type="text" class="input_text" id = "username1" placeholder="NAME"/></div>
        <div class="line"><button id="loginBtn" class="Btn">login</button></div>
        <div class="line"><input type="password" class="input_text"id= "password1" placeholder="PASSWORDS"/></div>
        <div class="line"><button class="Btn"><a href="javascript:;" class="colMint">register</a></button></div>
        <div class="line textCenter"><p class = "colWarning"></p></div>
     
      </div>
      <div  class="aboutme" id="registerBox" >
          <div class="line"><input type="text" class="input_text" id= "username" placeholder="NAME"/></div>
          <div class="line"><button id="registerBtn" class="Btn">register</button></div>
          <div class="line"><input type="password" class="input_text" id= "password" placeholder="PASSWORDS"/></div>
          <div class="line"><input type="password" class="input_text" id= "repassword" placeholder="CONFIRM PASSWORDS"/></div>
          <div class="line"><button class="Btn"><a href="javascript:;" class="colMint">login</a></button></div>
          <div class="line  textCenter"><p class = "colWarning"></p></div>	
          
      </div>
      {%endif%}
   
    
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="Print" onfocus="if(value=='Print'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='Print'}" type="text"/>
        <input name="show" value="title" type="hidden"/>
        <input name="tempid" value="1" type="hidden"/>
        <input name="tbname" value="news" type="hidden"/>
        <input name="Submit" class="input_submit Btn" value="Search" type="submit"/>
      </form>
    </div>
  {%block cloud %}{% endblock %}

</article>
<div class="blank"></div>
<footer>
  <p>Theme:GoodMorning by Yang Qing</p>
  <p>Create and Powered by Xuejun LIU, Ziqi WANG, Yuyao WEI © 2018 EFREI</p>
</footer>
<script src="../../public/js/nav.js"></script>

</body>
</html>
