{% extends 'layout.html' %}

{% block content %}
    <h3 class="blogtitle"><a href="/view?contentid={{content._id.toString()}}">{{content.title}}</a></h3>
    <div class="bloginfo">
      <p>{{content.description}}</p>
    </div>
    <div class="autor">
      <span class="lm"><a href="/" title="CSS3|Html5" target="_blank" class="classname">CSS3|Html5</a></span>
      <span class="dtime">{{content.addTime|date('YYYY:MMM:DD')}}</span>
      <span class="viewnum">Visitors:<a href="/">{{content.view}}</a></span>
    </div>
    <p>{{content.content}}</p>
{% endblock %}