{% extends 'layout.html' %}{% block main%}
<link rel="stylesheet" href="../../public/editor.md-master/examples/css/style.css" />
<link rel="stylesheet" href="../../public/editor.md-master/css/editormd.css" />

<ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/content">blog list</a></li>
        <li><span>add blog</span></li>
       
 </ol>

 <h3>
         add blog
 </h3>
 

 <form role="form" method="POST">

        <div class="form-group">
                <label for="name">category</label>
                <select name="category" id="category" class="form-control">
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {%endfor%}
                </select>
              </div>

        <div class="form-group">
          <label for="title">title</label>
          <input type="text" class="form-control" id="title" placeholder="please input the title of the blog" name= "title">
        </div>

        <div class="form-group">
                <label for="description">description</label>
                <textarea name="description" id="description" class="form-control" rows="5" 
                placeholder="please input the description of this blog"></textarea>
        </div>

         <!-- <div class="form-group">
            <label for="content">content</label> 
            <textarea name="content" id="content" class="form-control" rows="10" 
            placeholder="please input the content of this blog"></textarea>
        </div> -->

        <div class="form-group" id="my-editormd" >
                <textarea id="content" name="content" class="form-control" style="display:none;"># Content</textarea>
            </div>
            <script src="../../public/editor.md-master/examples/js/jquery.min.js"></script>
            <script src="../../public/editor.md-master/editormd.js"></script>  
            <script type="text/javascript">
            var testEditor;
              $(function() {
                  editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
                      width   : "100%",
                      height  : 720,
                      syncScrolling : "single",
                      path    : "../../public/editor.md-master/lib/",
                      codeFlod: true,
                      saveHTMLToTextarea : true,//注意3：这个配置，方便post提交表单
                      taskList : true,
                      tocm            : true,         // Using [TOCM]
                      tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                      flowChart : true,          
                      sequenceDiagram : true,      
                  });
              });
              
            </script>
       
        <button type="submit" class="btn btn-default">Submit</button>
</form>

              
{%endblock%}
