{% extends 'layout.html' %}

{% block main%}
<ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><span>content list</span></li>
        <li><a href="/admin/category/add">add category</a></li>
 </ol>

 <h3>
         content list
 </h3>
 <table class = " table table-hover table-stripted">

        <tr>
                 <th>ID</th>
                <th>name</th>
                <th>operation</th>
        </tr>
        
        {% for content in contents %}
        <tr>
                <td>{{content._id.toString()}}</td>
                <td>{{content.name}}</td>
                <td>
                        <a href="/admin/category/edit?id={{content._id.toString()}}">edit</a> |
                        <a href="/admin/category/delete?id={{content._id.toString()}}">delete</a>
                </td>
        </tr>
        {% endfor %}

 </table>

 {% include 'page.html' %}

              
{% endblock %}
