<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>background</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/m.css" type="text/css"/>
    <script scr="/public/js/jquery-3.3.1.min.js"></script>
    <script scr="/public/js/bootstrap.min.js"></script>
    <script scr="/public/js/index.js"></script>
</head>
<body>
        <!-- Brand and toggle get grouped for better mobile display -->
    
       <div class="tophead">
        <div class="tophead navbar-header">
          <nav class="menu" id="topnav">          
            <ul>
              <li><a href="/">HOME</a><li>
              <li><a href="/admin/user">Users</a><li>
              <li><a href="/admin/category">Categories</a><li>
              <li><a href="/admin/content">Contents</a></li>  
              <li><a href="javascript:;" id="logout">Logout</a></span></li>
            </ul>
         </nav>
        </div>
        </div>
  

     
        <div class="container-fluid">
            {% block main%}{%endblock%} 
        </div>


</body>
</html>